
    <section class="about-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about-image">
                        <img src="" alt="about-my-image">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 about title">
                    <h2 class="text-uppercase">
                        <span>Let Me</span>
                        <span>Introduce</span>
                        <span>MySelf</span>

                    </h2>
                    <div class="paragraph">
                        <p class="para">
                            {{mydetail.tell_about_me_your_self|slice:':78'}}
                        </p>
                        <p class="para">
                            {{mydetail.tell_about_me_your_self|slice:'78:'}}
                        </p>
                    </div>
                    <button type="button" name="button" id="resume" class="btn button primary-button text-uppercase">
                        Download CV
                    </button>
                </div>
            </div>
        </div>
    </section>