{% extends 'base.html' %}
{% load static %}
{% block title %}
Contact Us | PORTFOLIO
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'portfolio/css/contact.css' %}">
{% endblock %}
{% block content %}
{% include 'portfolio/navbar.html' %}
<section class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="contactInfo d-flex flex-md-column flex-sm-row justify-content-center align-items-center flex-column">
            <div>
                <h2 class="text-white">Contact Info</h2>
                <ul class="navbar-nav ml-2 mt-5">
                    {% for i in mydetail %}
                    <li class="nav-item d-flex">
                        <span>
                                <i class="fa fa-envelope text-white" aria-hidden="true"></i>
                            </span>
                        <span>
                            {% if request.user.is_anonymous and request.path == '/' %}
                            <a href="mailto:subhransud525@gmail.com"
                               class="text-white ml-4 mx-4 text-decoration-none"
                               target="blank">subhransud525@gmail.com
                            </a>
                            {% else %}
                            <a href="mailto:{{request.user.email}}"
                               class="text-white ml-4 mx-4 text-decoration-none"
                               target="blank">{{i.user.email}}
                            </a>
                            {% endif %}
                            </span>
                    </li>

                    {% if i.contact_number %}
                    <li class="nav-item d-flex my-4">
                                <span>
                                    <i class="fa fa-phone text-white" aria-hidden="true"></i>
                                </span>
                        <span>
                                    <a href="tel:{{i.contact_number|cut:' '}}"
                                       class="text-white ml-4 text-decoration-none">{{i.contact_number}}</a>
                                </span>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% for link in mydetail %}
            {% if link.social_site_connection_details %}
            <div class="row">
                {% if link.social_site_connection_details.facebook %}
                <div class="col">
                    <a href="{{link.social_site_connection_details.facebook}}" class="text-decoration-none">
                        <i class="fa fa-facebook-square text-white" aria-hidden="true"></i>
                    </a>
                </div>
                {% endif %}
                {% if link.social_site_connection_details.linkedIn %}
                <div class="col">
                    <a href="{{link.social_site_connection_details.linkedIn}}" class="text-decoration-none">
                        <i class="fa fa-linkedin-square text-white" aria-hidden="true"></i>
                    </a>
                </div>
                {% endif %}
                {% if link.social_site_connection_details.hackerrank %}
                <div class="col">
                    <a href="{{link.social_site_connection_details.hackerrank}}" class="text-decoration-none">
                        <i class="fab fa-hackerrank text-white" aria-hidden="true"></i>
                    </a>
                </div>
                {% endif %}
                {% if link.social_site_connection_details.instagram %}
                <div class="col">
                    <a href="{{link.social_site_connection_details.instagram}}" class="text-decoration-none">
                        <i class="fa fa-instagram text-white" aria-hidden="true"></i>
                    </a>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="contactForm">
            <h2 class="{% if messages %} mb-3 {% else %}mb-5{% endif %}">Send a Message</h2>
            {% if messages %}
                {% for i in messages %}
                    <p class="alert-danger  px-2" style="margin-bottom: 1.8rem!important;">{{i}}</p>
                {% endfor %}
            {% endif %}
            <form class="formBox" method="POST"
                  action="
                  {% if request.user.is_authenticated and request.path == '/' %}
                    {% url 'portfolio:contact_us' %}
                  {% elif request.user.is_anonymous and request.path == '/' %}
                    {% url 'portfolio:contact_us' %}
                  {% elif request.user.is_anonymous and request.path == '/contact_us/en/' %}
                    {% url 'portfolio:contact_us' %}{% elif request.path == false_path %}{{request.path}}
                  {% elif request.user.is_authenticated and request.path == '/contact_us/en/' %}
                    {% url 'portfolio:contact_us' %}
                   {% else %}
                   {{request.path|slice:':-1'}}{% url 'portfolio:contact_us' %}
                  {% endif %}">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-6 col">
                        {{i.first_name}}
                        <label for="{{i.first_name.id_for_label}}" class="label">First Name</label>
                    </div>
                    <div class="form-group col-md-6 col">
                        {{i.last_name}}
                        <label for="{{i.last_name.id_for_label}}" class="label">Last Name</label>
                    </div>
                </div>
                <div class="form-group">
                    {{i.email}}
                    <label for="{{i.email.id_for_label}}" class="label">Email</label>
                </div>
                <div class="form-group">
                    <label for="{{i.query.id_for_label}}">Message</label>
                    {{i.query}}
                </div>
                <input type="submit" class="button" value="send">

            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
{% endblock %}