<footer class="footer-area">
    <div class="container">
        <div class="social text-center">
            <h5 class="text-uppercase">Follow ME</h5>
            <a href="https://www.facebook.com/subhransu.das.564/" target="-_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/subhransu1299/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/subhransu-das-908959147/" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
            <a href="https://www.hackerrank.com/subhransud525" target="_blank"><i class="fab fa-hackerrank"></i></a>
        </div>
        <div class="copyrights text-center">
            <p class="para"> Copyrights &copy;2020 All rights reserved | This portfolio website made by
                <a href="#about-area"><span style="color:var(--primary-color);">{{mydetail.user.first_name|capfirst}} {{mydetail.user.last_name|capfirst}}</span></a>
            </p>
        </div>
    </div>
</footer>
