{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
{% endblock %}
{% block owncss %}
    <style type="text/css">
        h1{
        color:white;
        }
    </style>
{% endblock %}
{% block content %}
    {% include 'portfolio/navbar.html' %}
    <main>
        <section class="banner-area container-fluid row">
            <div class="col-md-6 col-sm-12">
                <p class="text-uppercase">Hello There</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="" alt="Myimage">
            </div>
        </section>
    </main>

{% endblock %}