<section class="project-area" id="project-area">
    <div class="container">
        <div class="project-title pb-5" data-aos="fade-up">
            <h1 class="text-uppercase title-h1">Recently done project</h1>
            <h1 class="text-uppercase title-h1">Quality work</h1>
        </div>
        <div class="button-group" data-aos="fade-up">
            <button type="button" name="button" id="btn1" class="all active" data-filter="*">All</button>
            {% for language in language_used %}
                <button type="button" name="button" data-filter=".{{language|lower}}" class="">{{language|capfirst}}</button>
            {% endfor %}
            <button type="button" name="button" data-filter=".upcomming" class="">upcomming</button>
        </div>
        <div class="row grid">
            {% for projects in myprofile %}
                {% for project in projects.projects_detail.all %}
            <div class="col-lg-4 col-md-6 col-sm-12  element-item {{project.language_used|lower}}"  style="--j:{{forloop.counter}};">
                <div class="our-project">
                    <div class="img">
                        <a class="text-popup-link" href="/media/{{project.image}}">
                            <img src="/media/{{project.image}}" alt="portfolio-1" class="first-img">
                        </a>
                    </div>
                </div>
                <div class="title py-4">
                    <h4 class="text-uppercase text-dark">
                        {{project.name}}
                    </h4>
                    {% if project.github_link %}
                    <a href="{{project.github_link}}" target="_blank" class="text-decoration-none mr-4">Github Link</a>
                    {% endif %}
                    {% if project.web_link %}
                     <a href="{{project.web_link}}" target="_blank" class="text-decoration-none">web Link</a>
                    {% endif %}
                    <br>
                    <span class="text-secondary">{{project.description}}</span>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>

</section>