<section class="project-area" id="project-area">
    <div class="container">
        <div class="project-title pb-5">
            <h1 class="text-uppercase title-h1">Recently done project</h1>
            <h1 class="text-uppercase title-h1">Quality work</h1>
        </div>
        <div class="button-group">
            <button type="button" name="button" id="btn1" class="all active" data-filter="*">All</button>
            <button type="button" name="button" data-filter=".python" class="">Python</button>
            <button type="button" name="button" data-filter=".java" class="">Java</button>
            <button type="button" name="button" data-filter=".upcomming" class="">upcomming</button>
        </div>
        <div class="row grid">
            {% for project in projects %}

            <div class="col-lg-4 col-md-6 col-sm-12 element-item {{project.technology_used|lower}}">
                <div class="our-project">
                    <div class="img">
                        <a class="text-popup-link" href="./images/keekers.gif">
                            <img src="/media/{{project.image}}" alt="portfolio-1" class="first-img">
                        </a>
                    </div>
                </div>
                <div class="title py-4">
                    <h4 class="text-uppercase">{{project.name}}</h4>
                    <span class="text-secondary">{{project.description}}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>