{% load static %}
<section class="services mb-3 pb-3" id="services">
    <div class="container pb-4 mt-5">
        <div class="pb-3">
            <h1 class="text-uppercase my-5 title-h1">Service Available</h1>
        </div>
        <div class="owl-carousel owl-theme mt-4 d-flex justify-content-center">
            {% for i in service %}
            <div class="card shadow-lg border-top-0 border-left-0 border-right-0" style="width: 18rem;">
                <div class="img-div">
                    <img src="/media/{{i.image}}" alt="service - {{i.id}}" class="w-75 mx-auto">
                </div>
                <div class="card-body d-flex justify-content-center flex-column">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text para">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
<!--            <div class="item">-->
<!--                -->
<!--                -->
<!--            </div>-->
            {% endfor %}
        </div>
    </div>
</section>