{% load static %}
<section class="services mb-3 pb-3" id="services">
    <div class="container pb-4 mt-5">
        <div class="pb-3">
            <h1 class="text-uppercase my-5 title-h1">Service Available</h1>
        </div>
        <div class="row">
            {% for i in service %}
            <div class="col-sm-2 {% if service.count == 4 %} col-md-3 justify-content-between d-flex {% else %} col-md-4 {% endif %}mt-4 service-box">
                <div class="card border-0" style="width: 18rem;">
                    <div class="img-div mx-auto d-flex">
                        <img src="/media/{{i.image}}" alt="service - {{i.id}}" class="w-75 mx-auto">
                    </div>
                    <div class="card-body border-top-0 border rounded">
                        <h5 class="card-title">{{i.name}}</h5>
                        <p class="card-text para">Some quick example text to build on the card title and make up the
                            bulk of the
                            card's content.</p>
                    </div>
                </div>
                <!--            <div class="item">-->
                <!--                -->
                <!--                -->
                <!--            </div>-->
            </div>
            {% endfor %}
        </div>
    </div>
</section>