{% load static %}
<section class="services" id="services">
    <div class="container pb-5">
        <h1 class="text-uppercase my-5 title-h1">Service Available</h1>
        <div class="owl-carousel owl-theme mt-5">
            <div class="item">
                <img src="https://image.freepik.com/free-vector/web-design-production-maintenance-websites-web-graphic-interface-design-responsive-website-software-engineering-development-colorful-icon_335657-345.jpg" alt="doctor" class="w-75">
                <p class="text-dark h4 text-center text-uppercase">Web Development</p>
            </div>
            <div class="item">
                <img src="{% static 'portfolio/images/Wavy_Bus-10_Single-03.jpg' %}" alt="doctor" class="w-75">
                <p class="text-dark h4 text-center text-uppercase">Desktop App Development</p>
            </div>
            <div class="item">
                <img src="{% static 'portfolio/images/Wavy_Tech-01_Single-10.jpg' %}" alt="doctor" class="w-75">
                <p class="text-dark h4 text-center text-uppercase">RestFul Api Provider</p>
            </div>
        </div>
    </div>
</section>