<section class="subscribe-us-area">
    <div class="container subscribe">
        <div class="row">
            <div class="col-lg-12 text-center subscribe-title">
                <h4 class="text-uppercase">Get Udate from anywhere</h4>
                <p class="title">I'M A FULL STACK DJANGO DEVELOPER WITH DEEP INTEREST IN MACHINE LEARNING</p>
            </div>
        </div>

        <div class="d-sm-flex justify-content-center">
            <form class="w-50" action="{% url 'portfolio:index' %}" method="POST">
                {% csrf_token %}
                {{subscribe_form.non_field_errors}}
                {% for i in subscribe_form %}
                <div class="row d-flex flex-row flex-wrap">
                    <div class="col input-textbox">
                        {{i}}

                        <!--                  <input type="text" name="mail" class="form-control" placeholder="Email" value="">-->
                        {% for j in i.errors %}
                            <span class="errorlist">{{j|striptags}}</span>
                        {% endfor %}
                    </div>
                    <div class="col subscribe-button">
                        <div class="btn-submit">
                            <button type="submit" class="btn btn-secondary float-right text-uppercase" name="button">
                                subscribe
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
</section>
