{% if backend %}
<section class="subscribe-us-area mt-5 pt-5">
    <div class="container subscribe">
        <div class="row">
            <div class="col-lg-12 text-center subscribe-title">
                <h4 class="text-uppercase">Get Udate from anywhere</h4>
                <p class="title">I'M A FULL STACK DJANGO DEVELOPER WITH DEEP INTEREST IN MACHINE LEARNING</p>
            </div>
        </div>

        <div class="d-sm-flex justify-content-center">
            <form class="w-50" action="{% if request.path == '/' %}{% url 'portfolio:index' %}{% elif name_of_user|slice:'1:-1' %}{% url 'portfolio:user_portfolio_view' name_of_user|slice:'1:-1' %}{% endif  %}" method="POST">
                {% csrf_token %}
                {{subscribe_form.non_field_errors}}
                {% for i in subscribe_form %}
                <div class="row d-flex flex-row flex-wrap">
                    <div class="col input-textbox">
                        {{i}}
                        {% for j in i.errors %}
                            <span class="errorlist">{{j|striptags}}</span>
                        {% endfor %}
                    </div>
                    <div class="col subscribe-button">
                        <div class="btn-submit">
                            <button type="submit" class="btn btn-secondary float-right text-uppercase" name="button">
                                subscribe
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
</section>
{% endif %}