{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container-fluid container-md py-5 px-3 p-sm-5">
    <h1 class="title-h1">{% trans "Verify Your E-mail Address" %}</h1>
    {% if messages %}
    <div class="mt-4">
        <ul class="h4 d-md-flex">
            {% for message in messages %}
            <li class="ml-2">{{message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="container-fluid mt-2 mt-md-5 container-md">
        <p class="p-4 h5 text-secondary">We have sent an e-mail to you for verification.
            Follow the link provided to finalize the signup process.
            Please contact us if you do not receive it within a few minutes.
        </p>
    </div>
</div>

{% endblock %}