@import url("/static/portfolio/css/partials/variables.css");
@import "/static/portfolio/css/partials/_globals.css";
html{
	scroll-behavior: smooth;
}

.header_area .main-menu .navbar .navbar-brand{
  padding:0 2rem 0 5rem;
  text-shadow: var(--box-shadow);
  animation: slide_left 1s linear forwards;
  opacity: 0;
  animation-delay: 0.2s;
}
@keyframes slide_left{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  20%{
    transform: translateY(-10px) translateX(-80px);
    opacity: 0.4;
  }
  40%{
    transform: translateY(10px) translateX(-60px);
    opacity: 0.6;
  }
  60%{
    transform: translateY(-10px) translateX(-40px);
    opacity: 1;
  }
  80%{
    transform: translateY(10px) translateX(-20px);
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
.header_area .main-menu .navbar{
  padding:1rem 5rem;
  /* background-color: var(); */
}
.header_area .main-menu .nav-item .nav-link{
  padding:1.5rem;
  color: var(--title-color);
  animation: slide_top 0.5s linear forwards;
  animation-delay:calc(0.1s * var(--i));
  opacity: 0;
}
@keyframes slide_top{
  0%{
    transform: translateY(60px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
.header_area .main-menu .navbar-nav .active a{
  background: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  
}

.header_area .main-menu .navbar-nav a:hover{
  background: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  display:block;
  /* background-clip: text; */
}
.dropdown a:hover{
    display:block;
}
.header_area .main-menu .navbar .navbar-brand{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  font-family:var(--roboto);
  color:var(--primary-color2);
}
p{
  color:var(--primary-color);
}
.img-fluid{
  height: 560px;
  margin-left:4%;
}

/* banner area */

.site-main .site-banner .site-title h3{
  padding-top:35%;
  font-weight: 500;
  animation: slide_right 0.5s linear forwards;
  animation-delay: 0.7s;
  opacity: 0;
}
.site-main .site-banner .site-title h3::after{
  content:"";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}
.site-main .site-banner .site-title h1{
  font-size: 4rem;
  animation: slide_right 0.5s linear forwards;
  animation-delay: 0.7s;
  opacity: 0;
}
.site-main .site-banner .site-title h4{
  font-size: 1.5rem;
  animation: slide_left_text 0.5s linear forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
@keyframes slide_right {
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slide_left_text {
  0%{
    transform: translateX(-100px);
  }
  40%{
    opacity: 0.6;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
.site-main .site-banner .banner-image > img{
  animation: fade_in 0.5s linear forwards;
  animation-delay: 1.8s;
  opacity: 0;
}
@keyframes fade_in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* end banner area */

/* About area */
.site-main .about-area{
  padding:8rem 5rem;
}
.site-main .about-area .about-title h2 >span{
  display: block;
  font:normal bold 49px/60px var(--roboto);
  letter-spacing: 21px;

}
.site-main .about-area .about-title .paragraph > p{
  padding: .4rem 0;
}
/* end About area */

/* project area */
.site-main .project-area{
  padding:4rem 0;

}
.site-main .project-area .button-group button{
  background: transparent;
  border:none;
  font:normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
}
.site-main .project-area .button-group button + button{
  padding-left: 3rem;
}
/* .site-main .project-area .grid .element-item{
  animation: slide_top 0.5s linear forwards;
  animation-delay: calc(0.2s * var(--j));
} */
.site-main .project-area .grid .our-project > .title h4{
  font:normal 700 25px/12px var(--roboto);
}
.site-main .project-area .grid .our-project img{
  width:100%;
}
.site-main .project-area .grid .our-project .img a:hover img{
  filter: brightness(1.1)drop-shadow(5px 5px 5px #b1afaf);
}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
    cursor:pointer;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    margin-top: -100px;
    margin-right: -350px;
  }
/* end project area */

/* start Service Area */
.services .container .owl-carousel .card .img-div{
    background-color: var(--primary-color2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
    border-color: var(--primary-color);
    height: 200px;
}

.services .container .owl-carousel .card .card-body .card-title{
    text-transform:uppercase;
    padding:10px 0;
    font-size:1.5rem;
    font-weight:600;
}

.services .container .owl-carousel .card:hover{
    box-shadow:var(--box-shadow);
}
/* End Service Area */


/* subscribe area */
.site-main .subscribe-us-area .subscribe{
  background: url('/static/portfolio/images/subscribe-bg.png') no-repeat;
  padding: 10rem 0;
  margin: 3rem auto;
  border-radius: 5px;
}
.site-main .subscribe-us-area .subscribe .subscribe-title h4{
  font:normal 700 30px/30px var(--roboto);
  color:whitesmoke;
  padding: 1rem 4rem;

}
.site-main .subscribe-us-area .subscribe .subscribe-title p{
  color:whitesmoke;
  padding-bottom: 1rem;
}
.site-main .subscribe-us-area .subscribe form .input-textbox input{
  width: 400px;
  padding: 1.5rem 1rem;
  border:1px solid whitesmoke;
  background: transparent;
  color:white;
  font:normal 500 17px/20px var(--roboto);
}
.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
  color:whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
  margin-top: -50px;
  background-color: whitesmoke;
  color:black;
  padding: .7rem 2rem;
  font:normal 500 17px/20px var(--roboto);
  box-shadow: var(--box-shadow);
}
/* end subscribe-area */

/* footer area */
.footer-area{
  padding: 5rem 0;
}
.footer-area .social h5{
  font:normal 500 23px/30px var(--roboto);
}
.footer-area .social a >i{
  font-size: 22px;
  padding: 2rem;
  color:var(--border-color);
}
.footer-area .copyrights{
	margin-top: 1%;
}
.footer-area .copyrights a:hover{
  text-decoration: none;
  text-shadow: var(--box-shadow);
}
.footer-area .social a:hover > i{
  color:var(--primary-color2);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}
/* end footer area */
