/* global classes */
.title-text{
  font:normal bold 50px/72px var(--roboto);
}
/* buttons */

.button{
  padding:.8rem 2.2rem;
  font:normal 500 16px/20px var(--roboto);
  position: relative;
  border:3px solid transparent;
  border-radius: 4px;
}
.button.primary-button{
  background: var(--gradient-color);
  background-clip: padding-box;
  color:whitesmoke;
  transition: background .6s ease;
  box-shadow: var(--box-shadow);

}
.button.primary-button:hover{
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}
.button.primary-button::after{
  position: absolute;
  top:-2px;
  left: -2px;
  bottom:-2px;
  right: -2px;
  background:var(--gradient-color);
  content: "";
  z-index:-1;
  border-radius: 4px;
}
.button.secondary-button{
  background: #fff;
  background-clip: padding-box;
  transition: background .6s ease;
}
.button.secondary-button:hover{
  background: var(--gradient-color);
  color:whitesmoke;
  box-shadow: var(--box-shadow);
}
p.para{
  color:var(--text-color);
  font:normal 500 16px/25px var(--roboto);

}

button:focus,button:active button:hover .btn:active, .btn.active{
  outline: 0px !important;
  box-shadow: none !important;
}
.title-h1{
  font:normal bold 39px/40px var(--roboto);
}
.navbar_fixed{
  position: fixed;
  width: 100%;
  top:-1px;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: var(--box-shadow);
  z-index: 999;
  /* height: 10%; */
  transition: .4s ease;
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.fa-facebook{
    color: #3b5998;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
}
.facebook:hover{
    color: #3b5998 !important;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
}
.instagram:hover{
  color: transparent !important;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-linkedin {
    color: #0a66c2;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
}
.linkedin:hover {
    color: #0a66c2 !important;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
}
.hackerrank:hover{
    color:#2ec866 !important;
}
.fa-stack-overflow:hover{
    color:#f48024 !important;
}
.fa-github:hover{
    color:#343a40 !important;
}
